{
    "FOLDERNAME_FORMAT": "$$UTCDATE15-$$_gain$$GAIN$$",
    "FILENAME_FORMAT": "$$TELESCOP$$_$$UTCDATE$$_$$UTCTIME$$_$$OBJECT$$_$$FILTER$$_$$XBINNING$$x$$YBINNING$$_$$EXPTIME$$s_$$FRAMENUM$$",
    "IMAGE_PATH": "/data2/obsdata/7DT01/image/",
    "IMAGE_SAVEHEADER": true,
    "IMAGE_FORMAT": "FITS",
    "IMAGE_SAVELOG": true,
    "IMAGE_LOGPATH": "/home/kds/.tcspy/sync/rawdata/"
}