{
    "MOUNT_DEVICETYPE": "PWI4",
    "MOUNT_HOSTIP": "10.0.106.21",
    "MOUNT_PORTNUM": "8220",
    "MOUNT_DEVICENUM": 0,
    "MOUNT_PARKALT": 40,
    "MOUNT_PARKAZ": 300,
    "MOUNT_RMSRA": 0.15,
    "MOUNT_RMSDEC": 0.15,
    "MOUNT_CHECKTIME": 0.5,
    "MOUNT_DIAMETER": 0.5,
    "MOUNT_APAREA": 0.196,
    "MOUNT_FOCALLENGTH": 1537.0,
    "MOUNT_FOCALRATIO": 3,
    "MOUNT_SETTLETIME": 5,
    "MOUNT_NAME": "7DT16"
}