{
    "MOUNT_DEVICETYPE": "Alpaca",
    "MOUNT_HOSTIP": "127.0.0.1",
    "MOUNT_PORTNUM": "32324",
    "MOUNT_DEVICENUM": 0,
    "MOUNT_PARKALT": 40,
    "MOUNT_PARKAZ": 300,
    "MOUNT_RMSRA": 0.15,
    "MOUNT_RMSDEC": 0.15,
    "MOUNT_CHECKTIME": 0.5,
    "MOUNT_DIAMETER": 0.5,
    "MOUNT_APAREA": 0.196,
    "MOUNT_FOCALLENGTH": 1500,
    "MOUNT_SETTLETIME": 3
}