          parameters           values
-------------------- ----------------
  OBSERVER_LONGITUDE         289.2369
   OBSERVER_LATITUDE         -30.4725
  OBSERVER_ELEVATION             1525
   OBSERVER_TIMEZONE America/Santiago
       OBSERVER_NAME     Hyeonho Choi
OBSERVER_OBSERVATORY           RASA36
