          parameters           values
-------------------- ----------------
  OBSERVER_LONGITUDE         155.4747
   OBSERVER_LATITUDE         +19.8260
  OBSERVER_ELEVATION             4145
   OBSERVER_TIMEZONE Pacific/Honolulu
       OBSERVER_NAME     Hyeonho Choi
OBSERVER_OBSERVATORY             Keck
