{
    "SWITCH_HOSTIP": "10.0.106.19",
    "SWITCH_PORTNUM": 11111,
    "SWITCH_DEVICENUM": 0,
    "SWITCH_TYPES": [
        "MOUNT",
        "FOCUSER",
        "CAMERA"
    ],
    "SWITCH_KEY_MOUNT": "MOUNT",
    "SWITCH_KEY_FOCUSER": "FOCUS",
    "SWITCH_KEY_CAMERA": "CAM",
    "SWITCH_KEY_FILTERWHEEL": "CAM"
}