{
    "TELESCOPE_DEVICE": "Alpaca",
    "TELESCOPE_HOSTIP": "127.0.0.1",
    "TELESCOPE_PORTNUM": "11112",
    "TELESCOPE_DEVICENUM": 0,
    "TELESCOPE_PARKALT": 0,
    "TELESCOPE_PARKAZ": 270,
    "TELESCOPE_RMSRA": 0.15,
    "TELESCOPE_RMSDEC": 0.15,
    "TELESCOPE_CHECKTIME": 0.5,
    "TELESCOPE_DIAMETER": 0.5,
    "TELESCOPE_APAREA": 0.196,
    "TELESCOPE_FOCALLENGTH": 1500,
    "TELESCOPE_SETTLETIME": 2
}