{
    "TELESCOPE_DEVICETYPE": "PWI4",
    "TELESCOPE_HOSTIP": "10.0.106.8",
    "TELESCOPE_PORTNUM": "8220",
    "TELESCOPE_DEVICENUM": 0,
    "TELESCOPE_PARKALT": 40,
    "TELESCOPE_PARKAZ": 300,
    "TELESCOPE_RMSRA": 0.15,
    "TELESCOPE_RMSDEC": 0.15,
    "TELESCOPE_CHECKTIME": 0.5,
    "TELESCOPE_DIAMETER": 0.5,
    "TELESCOPE_APAREA": 0.196,
    "TELESCOPE_FOCALLENGTH": 1500,
    "TELESCOPE_SETTLETIME": 3
}