{
    "specall" : "./u10/All-wave_10.specmode",
    "specblue" : "./u10/Bmb_10.specmode",
    "specred" : "./u10/Rmb_10.specmode",
    "specred+z2" : "./u10/Rmbz_10.specmode",
    "specblue+u" : "./u10/uBmb_10.specmode",
    "specred+z2" : "./u10/Rmbz2_10.specmode",
    "griz" : "./u10/griz_10.specmode",
    "ugriz" : "./u10/ugriz_10.specmode",
    "gi" : "./u10/gi_10.specmode",
    "gr" : "./u10/gr_10.specmode",
    "gri" : "./u10/gri_10.specmode"
}