{
    "FOLDERNAME_FORMAT": "$$UTCDATE12-$$_gain$$GAIN$$",
    "FILENAME_FORMAT": "$$TELESCOP$$_$$UTCDATE$$_$$UTCTIME$$_$$OBJECT$$_$$FILTER$$_$$XBINNING$$x$$YBINNING$$_$$EXPTIME$$s_$$FRAMENUM$$",
    "IMAGE_PATH": "/Users/hhchoi1022/code/obsdata/7DT04/image/",
    "IMAGE_SAVEHEADER": true,
    "IMAGE_FORMAT": "FITS"
}