{
    "WEATHER_HOSTIP": "10.0.106.20",
    "WEATHER_PORTNUM": "11111",
    "WEATHER_DEVICENUM": 0,
    "WEATHER_CHECKTIME": 0.5,
    "WEATHER_HUMIDITY": 85,
    "WEATHER_RAINRATE": 80,
    "WEATHER_SKYMAG": 10,
    "WEATHER_TEMPERATURE_UPPER": -25,
    "WEATHER_TEMPERATURE_LOWER": 40,
    "WEATHER_WINDSPEED": 20
}