{
    "CAMERA_HOSTIP": "192.168.0.4",
    "CAMERA_PORTNUM": "11111",
    "CAMERA_DEVICENUM": 0,
    "CAMERA_NAME": "ZWO ASI1600MM",
    "CAMERA_CCDNAME": "IMX455",
    "CAMERA_RESOLUTION_X": 1920,
    "CAMERA_RESOLUTION_Y": 1200,
    "CAMERA_PIXSIZE": 3.76,
    "CAMERA_GAIN": 1,
    "CAMERA_READNOISE": 3.51,
    "CAMERA_FULLCAP": 52800,
    "CAMERA_E_to_ADU": 0.8,
    "CAMERA_DARKNOISE": 0.1,
    "CAMERA_MINEXPOSURE": 19.5,
    "CAMERA_CHECKTIME": 0.5
}
