{
    "CAMERA_HOSTIP": "127.0.0.1",
    "CAMERA_PORTNUM": "11113",
    "CAMERA_DEVICENUM": 0,
    "CAMERA_NAME": "Moravian C3-61000",
    "CAMERA_CCDNAME": "IMX455",
    "CAMERA_PIXSIZE": 3.76,
    "CAMERA_GAIN": 1,
    "CAMERA_READNOISE": 3.51,
    "CAMERA_DARKNOISE": 0.1,
    "CAMERA_MINEXPOSURE": 19.5,
    "CAMERA_CHECKTIME": 0.5
}