{
    "ALERTBROKER_AUTHUSERS": [
        "hhchoi1022@snu.ac.kr"
    ],
    "ALERTBROKER_NORMUSERS": [
        "hhchoi1022@snu.ac.kr"
    ],
    "ALERTBROKER_ADMINUSERS": [
        "hhchoi1022@gmail.com"
    ],
    "ALERTBROKER_PATH": "/data2/obsdata/alert_history",
    "ALERTBROKER_STATUSPATH": "/home/kds/.tcspy/sync/alert"
}