{
    "ALERTBROKER_AUTHUSERS": [
        "hhchoi1022@gmail.com",
        "hhchoi1022@snu.ac.kr",
        "7dt.observation.broker@gmail.com"
    ],
    "ALERTBROKER_NORMUSERS": [
        "hhchoi1022@gmail.com",
        "hhchoi1022@snu.ac.kr"
    ],
    "ALERTBROKER_PATH": "/Users/hhchoi1022/code/obsdata/alert_history",
    "ALERTBROKER_STATUSPATH": "/Users/hhchoi1022/.tcspy/sync/alert"
}