{
    "ALERTBROKER_AUTHUSERS": [
        "hhchoi1022@gmail.com",
        "hhchoi1022@snu.ac.kr",
        "7dt.observation.broker@gmail.com",
        "jhkim.astrosnu@gmail.com",
        "myungshin.im@gmail.com"
    ],
    "ALERTBROKER_NORMUSERS": [
        "hhchoi1022@gmail.com",
        "hhchoi1022@snu.ac.krjhkim.astrosnu@gmail.com",
        "myungshin.im@gmail.com"
    ],
    "ALERTBROKER_PATH": "/data2/obsdata/alert_history"
}