{
    "ALERTBROKER_AUTHUSERS": [
        "hhchoi1022@gmail.com",
        "jhkim.astrosnu@gmail.com",
        "myungshin.im@gmail.com",
        "takdg123@gmail.com",
        "seowon.chang@gmail.com",
        "gregorypaek94@gmail.com",
        "jmk5040@gmail.com"
    ],
    "ALERTBROKER_NORMUSERS": [
        "hhchoi1022@snu.ac.kr"
    ],
    "ALERTBROKER_ADMINUSERS": [
        "hhchoi1022@gmail.com"
    ],
    "ALERTBROKER_PATH": "/data2/obsdata/alert_history",
    "ALERTBROKER_STATUSPATH": "/home/kds/.tcspy/sync/alert"
}