{
    "AUTOFLAT_ALTITUDE": 40,
    "AUTOFLAT_AZIMUTH": 270,
    "AUTOFLAT_MINCOUNT": 20000,
    "AUTOFLAT_MAXCOUNT": 40000,
    "AUTOFLAT_MINEXPTIME": 0.1,
    "AUTOFLAT_MAXEXPTIME": 20,
    "AUTOFLAT_WAITDURATION": 10,
    "AUTOFLAT_FILTERORDER": [
        "g",
        "r",
        "i",
        "m500",
        "m525",
        "m550",
        "m575",
        "m475",
        "m450",
        "m600",
        "m625",
        "m650",
        "m675",
        "m425",
        "m700",
        "m725",
        "z",
        "m400",
        "m750",
        "m775",
        "m800",
        "m825",
        "m850",
        "m875",
        "u"
    ]
}