{
    "DB_HOSTIP": "localhost",
    "DB_ID": "hhchoi",
    "DB_PWD": "gusgh1020!",
    "DB_NAME": "target",
    "DB_HISTORYPATH": "/Users/hhchoi1022/code/obsdata/DB_history",
    "DB_HISTORYFORMAT": "ascii.fixed_width",
    "DB_STATUSPATH": "/Users/hhchoi1022/.tcspy/sync",
    "DB_STATUSFORMAT": "ascii"
}