{
    "GOOGLESHEET_URL": "https://docs.google.com/spreadsheets/d/1UorU7P_UMr22Luw6q6GLQYk4-YicGRATwCePRxkx2Ms/edit#gid=0",
    "GOOGLESHEET_AUTH": "/home/hhchoi1022/.tcspy/googlesheet/targetdb-423908-ee7bb8c14ff3.json",
    "GOOGLESHEET_SCOPE": [
        "https://spreadsheets.google.com/feeds",
        "https://www.googleapis.com/auth/drive",
        "https://www.googleapis.com/auth/spreadsheets"
    ]
}