{
    "TRANSFER_SERVER_IP": "210.117.217.71",
    "TRANSFER_SERVER_USERNAME": "hhchoi1022",
    "TRANSFER_SERVER_PORTNUM": "8022",
    "TRANSFER_SOURCE_HOMEDIR": "/Users/hhchoi1022/code/obsdata/",
    "TRANSFER_ARCHIVE_HOMEDIR": "/data1/obsdata_archive/",
    "TRANSFER_SERVER_HOMEDIR": "/data/data1/obsdata/obsdata_from_mcs/",
    "TRANSFER_GRIDFTP_NUMPARALLEL": 8,
    "TRANSFER_GRIPFTP_VERBOSE": true,
    "TRANSFER_GRIDFTP_RETRIES": 10,
    "TRANSFER_GRIDFTP_RTINTERVAL": 60
}