{
    "WEATHER_HOSTIP": "127.0.0.1",
    "WEATHER_PORTNUM": 32323,
    "WEATHER_DEVICENUM": 0,
    "WEATHER_UPDATETIME": 60,
    "WEATHER_PATH": "/data2/obsdata/weather_history/",
    "WEATHER_HUMIDITY": 85,
    "WEATHER_RAINRATE": 80,
    "WEATHER_SKYMAG": 10,
    "WEATHER_TEMPERATURE_UPPER": -25,
    "WEATHER_TEMPERATURE_LOWER": 40,
    "WEATHER_WINDSPEED": 20
}