{
    "WEATHER_HOSTIP": "192.168.0.4",
    "WEATHER_PORTNUM": "11111",
    "WEATHER_DEVICENUM": 0,
    "WEATHER_CHECKTIME": 0.5,
    "WEATHER_HUMIDITY": 85,
    "WEATHER_RAINRATE": 1,
    "WEATHER_SKYMAG": 10,
    "WEATHER_TEMPERATURE_UPPER": 40,
    "WEATHER_TEMPERATURE_LOWER": -25,
    "WEATHER_WINDSPEED": 20
}